[submodule "rootguard-core"]
	path = rootguard-core
	url = https://github.com/foxly-it/rootguard-core.git
[submodule "rootguard-webapp"]
	path = rootguard-webapp
	url = https://github.com/foxly-it/rootguard-webapp.git
[submodule "rootguard-unbound"]
	path = rootguard-unbound
	url = https://github.com/foxly-it/rootguard-unbound.git
